@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
.calculator{
    padding: 30px;
    border-radius:3em ;
    margin: auto;
    border: black;
    border-color: aqua;
    background-color: whitesmoke ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.dispaly-box{
    font-family: 'Orbitron' sans-serif;
    background-color: aliceblue ;
    border: solid black 0.5px;
    color:orchid;
    border-radius: 5px;
    width: 100px;
    height: 65%;
}
#btn{
    background-color: antiquewhite; 
    color:aquamarine;
}
#btn:hover{
    background-color: yellow;
    color: greenyellow;

}

input [type=button]{
    font-family: 'Orbitron',sans-serif;
    background-color: burlywood;
    color: white;
    border: thin black 0.5px;
    width: 100px;
    height: 70%;
    outline-style: auto;
    outline-color: aqua;
    outline-width: 1ch;
}
input:active[type=button]{
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow:inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;

}