@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
.calculator{
    padding: 30px;
    border-radius:3em ;
    margin: auto;
    border: black;
    border-color: aqua;
    background-color: whitesmoke ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.dispaly-box{
    font-family: 'Orbitron' sans-serif;
    background-color: aliceblue ;
    border: solid black 0.5px;
    color:orchid;
    border-radius: 7px;
    width: 300px;
    height: 70%;
}
.display-box:hover{
    background-color: olive;
    color: black;
}
#btn{
    background-color: antiquewhite; 
    color:aquamarine;
}
.button:hover{
    background-color:greenyellow;
    color:  brown;

}

input [type=button]{
    font-family: 'Orbitron',sans-serif;
    background-color: burlywood;
    color: white;
    border: thin black 0.5px;
    width: 150px;
    height: 75%;
    outline-style: auto;
    outline-color: aqua;
    outline-width: 1ch;
}
input:active[type=button]{
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow:inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;

}